.custom-checkout
{
    display: flex;
    justify-content:space-around;
    margin-right: 5%;
}
.custom-button
{
    margin: auto;
    text-align: right;
    margin-right: 5%;
}
.custom-bucks {
  display: flex;
  justify-content: space-evenly;
}
