<h3 id="custom-top">Settings</h3>
<br /><br />
<div class="grid">
  <div class="col-fixed" style="width: 300px">
    <div class="custom-div" (click)="showAccountSettings()">
      <p><i class="pi pi-user"></i> &nbsp; Account Settings</p>
    </div>
    <div class="custom-div" (click)="showProductSettings()">
      <p><i class="pi pi-bars"></i> &nbsp; Product Control</p>
    </div>
  </div>
  <div class="col">
    <ng-container *ngIf="accountSettings">
      <baskt-shop-account-settings></baskt-shop-account-settings>
    </ng-container>
    <ng-container *ngIf="productSettings">
      <baskt-shop-product-control></baskt-shop-product-control>
    </ng-container>
  </div>
</div>
