<p>Independent Contractor Agreement - United States</p>
<p>Baskt, llc</p>
<p>
  This Agreement (“Agreement”) is made and entered into by and between you, the
  undersigned contractor (“CONTRACTOR”), an independent contractor engaged in
  the business of performing the services contemplated by this Agreement, and
  baskt, llc (“baskt” or “COMPANY”). CONTRACTOR may enter this Agreement either
  as an individual or as a corporate entity. This Agreement will become
  effective on the date it is accepted regardless of whether you are eligible
  to, or ever do, perform any Contracted Services.</p
>
<p
  ><b>
    IMPORTANT: PLEASE REVIEW THIS AGREEMENT CAREFULLY. IN PARTICULAR, PLEASE
    REVIEW THE MUTUAL ARBITRATION PROVISION IN SECTION XI, AS IT REQUIRES THE
    PARTIES (UNLESS YOU VALIDLY OPT OUT OF ARBITRATION, AS PROVIDED BELOW) TO
    RESOLVE DISPUTES ON AN INDIVIDUAL BASIS, TO THE FULLEST EXTENT PERMITTED BY
    LAW, THROUGH FINAL AND BINDING ARBITRATION. BY ACCEPTING THIS AGREEMENT, YOU
    ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTOOD ALL OF THE TERMS, INCLUDING
    SECTION XI, AND HAVE TAKEN THE TIME AND SOUGHT ANY ASSISTANCE NEEDED TO
    COMPREHEND THE CONSEQUENCES OF ACCEPTING THIS AGREEMENT.
  </b></p
>
<br />
<h5>RECITALS</h5>
<p>
  Baskt, llc is a company that provides an online marketplace for groceries.
  Baskt’s software permits registered users to buy groceries online.
</p>
<p>
  CONTRACTOR is an independent provider of delivery and other services,
  authorized to conduct the services contemplated by this Agreement in the
  geographic location(s) in which CONTRACTOR operates. CONTRACTOR possesses all
  equipment and personnel necessary to perform the delivery and any other
  services contemplated by this Agreement in accordance with applicable laws.
  CONTRACTOR desires to enter into this Agreement for the right to receive
  delivery opportunities made available through BASKT'S platform. CONTRACTOR
  understands and expressly agrees that he/she is not an employee of BASKT or
  any restaurant, other business or consumer and that he/she is providing
  delivery and other services on behalf of him/herself and his/her business, not
  on behalf of baskt. CONTRACTOR understands (i) he/she is free to select those
  times he/she wishes to be available on the platform to receive delivery
  opportunities; (ii) he/she is free to accept or reject the opportunities
  transmitted through the baskt’s platform by consumers, and can make such
  decisions to maximize his/her opportunity to profit; and (iii) he/she has the
  sole right to control the manner in which deliveries are performed and the
  means by which those deliveries are completed.
</p>
<p>
  In consideration of the above, as well as the mutual promises described
  herein, BASKT and CONTRACTOR (collectively “the parties”) agree as follows:
</p>
<h5>I. PURPOSE OF THE AGREEMENT</h5>
<p>
  This Agreement governs the relationship between baskt and CONTRACTOR, and
  establishes the parties’ respective rights and obligations. In exchange for
  the promises contained in this Agreement, CONTRACTOR shall have the right and
  obligation to perform the “Contracted Services” as defined herein. However,
  nothing in this Agreement requires CONTRACTOR to perform any particular volume
  of Contracted Services during the term of this Agreement, and nothing in this
  Agreement shall guarantee CONTRACTOR any particular volume of business for any
  particular time period.
</p>
<p
  >CONTRACTOR shall have no obligation to accept or perform any particular
  “Opportunity” (as that term is defined herein) offered by baskt. However, once
  an Opportunity is accepted, CONTRACTOR shall be contractually bound to
  complete the Contracted Services in accordance with all consumer
  specifications and the terms laid out in this Agreement,</p
>
<h5>II. CONTRACTOR'S OPERATIONS</h5>
<p>
  CONTRACTOR represents that he/she operates an independently established
  enterprise that provides delivery and other services, and that he/she
  satisfies all legal requirements and has all necessary licenses and permits
  necessary to perform any services contemplated by this Agreement. As an
  independent contractor/enterprise, CONTRACTOR shall be solely responsible for
  determining how to operate his/her business and how to perform the Contracted
  Services.
</p>
<p>
  CONTRACTOR agrees to fully perform the Contracted Services in a timely,
  efficient, safe, and lawful manner. baskt shall have no right to, and shall
  not, control the manner, method or means CONTRACTOR uses to perform the
  Contracted Services. Instead, CONTRACTOR shall be solely responsible for
  determining the most effective, efficient, and safe manner to perform the
  Contracted Services, including determining the manner of pickup, delivery, and
  route selection.
</p>
<p
  >As an independent business enterprise, CONTRACTOR retains the right to
  perform services (whether delivery services or other services) for others and
  to hold him/herself out to the general public as a separately established
  business. The parties recognize that they are or may be engaged in similar
  arrangements with others and nothing in this Agreement shall prevent
  CONTRACTOR or baskt from doing business with others. baskt does not have the
  right to restrict CONTRACTOR from performing services for other businesses,
  customers or consumers at any time, even if such business directly competes
  with baskt, and even during the time CONTRACTOR is logged into the baskt
  platform. CONTRACTOR’s right to compete with baskt, or perform services for
  business that compete with BASKT, will survive even after termination of this
  Agreement.</p
>
<p>
  CONTRACTOR is not required to purchase, lease, or rent any products, equipment
  or services from baskt as a condition of doing business with BASKT or entering
  into this Agreement.
</p>
<h5>III. CONTRACTED SERVICES</h5>
<p>
  From time to time, the baskt platform will notify CONTRACTOR of the
  opportunity to complete deliveries from restaurants or other businesses to
  consumers in accordance with orders placed by consumers through the baskt
  platform (each of these is referred to as a "Delivery Opportunity"). For each
  Delivery Opportunity accepted by CONTRACTOR ("Contracted Service"), CONTRACTOR
  agrees to retrieve the orders from restaurants or other businesses on time and
  safely, ensure the order is accurately filled, and complete delivery orders to
  consumers in a safe and timely fashion. CONTRACTOR understands and agrees that
  the parameters of each Contracted Service are established by the consumer, not
  BASKT, and represent the end result desired, not the means by which CONTRACTOR
  is to accomplish the result. CONTRACTOR has the right to cancel, from time to
  time, a Contracted Service when, in the exercise of CONTRACTOR's reasonable
  discretion and business judgment, it is appropriate to do so. Notwithstanding
  the foregoing, CONTRACTOR agrees to maintain both a customer rating and a
  completion rate found here as of the date this Agreement becomes effective.
  Failure to satisfy this obligation constitutes a material breach of this
  Agreement, and baskt shall have the right to terminate this Agreement and/or
  deactivate CONTRACTOR'S account.
</p>
<p>
  CONTRACTOR acknowledges that BASKT has discretion as to which, if any,
  Delivery Opportunity to offer, just as CONTRACTOR has the discretion whether
  and to what extent to accept any Delivery Opportunity.
</p>
<p>
  CONTRACTOR acknowledges that CONTRACTOR is engaged in CONTRACTOR’s own
  business, separate and apart from BASKT’S business, which is to provide an
  online marketplace connection using web-based technology that connects
  contractors, restaurants and/or other businesses, and consumers.
</p>
<p>
  CONTRACTOR authorizes BASKT, during the course of a Contracted Service, to
  communicate with CONTRACTOR, consumer, and/or restaurant or other business to
  assist CONTRACTOR, to the extent permitted by CONTRACTOR, in facilitating
  deliveries. However, under no circumstances shall BASKT be authorized to
  control the manner or means by which CONTRACTOR performs delivery services or
  other services contemplated under this agreement. This includes, but is not
  limited to, the following:
</p>
<p>
  BASKT does not require any specific type, or quality, of CONTRACTOR’s choice
  of transportation.
</p>
<p>
  CONTRACTOR does not have a supervisor or any individual at BASKT to whom they
  report.
</p>
<p>
  CONTRACTOR is not required to use any signage or other designation of BASKT on
  his or her vehicle or person at any point in their use of the platform to
  perform the Contracted Services.
</p>
<p>BASKT has no control over CONTRACTOR’s personal appearance.</p>
<p> CONTRACTOR does not receive regular performance evaluations by BASKT. </p>
<p>
  CONTRACTOR may use whatever payment method he/she chooses to purchase items to
  be delivered to consumers, including, but not limited to CONTRACTOR's personal
  credit or debit card, cash or a prepaid card. CONTRACTOR may use, for
  CONTRACTOR's convenience, the prepaid card solely for purchasing items to be
  delivered to consumers. If CONTRACTOR chooses to use his/her personal credit
  or debit card or cash, CONTRACTOR shall invoice BASKT on a weekly basis and
  BASKT agrees to pay all invoices within 10 days of receipt.
</p>
<p>
  In the event CONTRACTOR fails to fully perform any Contracted Service (a
  "Service Failure") due to CONTRACTOR's action or omission, CONTRACTOR shall
  forfeit all or part of the agreed upon fee for that service. If CONTRACTOR
  disputes responsibility for a Service Failure, the dispute shall be resolved
  pursuant to the "Payment Disputes" provision below.
</p>
<p>
  CONTRACTOR agrees to immediately notify BASKT in writing by submitting a
  Support inquiry through https://help.BASKT.com/consumers/s/contactsupport if
  CONTRACTOR's services or scope of work differ in any way from what is
  contemplated in this Section.
</p>
<h5>IV. RELATIONSHIP OF PARTIES</h5>
<p>
  The parties acknowledge and agree that this Agreement is between two co-equal,
  independent business enterprises that are separately owned and operated. The
  parties intend this Agreement to create the relationship of principal and
  independent contractor and not that of employer and employee. The parties are
  not employees, agents, joint venturers, or partners of each other for any
  purpose. Neither party shall have the right to bind the other by contract or
  otherwise except as specifically provided in this Agreement.
</p>
<p>
  BASKT shall not have the right to, and shall not, control the manner or the
  method of accomplishing Contracted Services to be performed by CONTRACTOR. The
  parties acknowledge and agree that those provisions of the Agreement reserving
  ultimate authority in BASKT have been inserted solely for the safety of
  consumers and other CONTRACTORS using the BASKT platform or to achieve
  compliance with federal, state, or local laws, regulations, and
  interpretations thereof.
</p>
<p>
  BASKT shall report all payments made to CONTRACTOR on a calendar year basis
  using an appropriate IRS Form 1099, if the volume of payments to CONTRACTOR
  qualify. CONTRACTOR agrees to report all such payments and any cash gratuities
  to the appropriate federal, state and local taxing authorities.
</p>
<h5>V. PAYMENT FOR SERVICES</h5>
<p>
  Unless notified otherwise by BASKT in writing or except as provided herein,
  CONTRACTOR will receive payment per accurate Contracted Service completed in
  an amount consistent with the publicly provided pay model, which you can view
  here. From time to time, BASKT may offer opportunities for CONTRACTOR to earn
  more money for performing Contracted Services at specified times or in
  specified locations. Nothing prevents the parties from negotiating a different
  rate of pay, and CONTRACTOR is free to accept or deny any such opportunities
  to earn different rates of pay.
</p>
<p>
  BASKT’s online credit card software may permit consumers to add a gratuity to
  be paid to CONTRACTOR, and consumers can also pay a gratuity to CONTRACTOR in
  cash. CONTRACTOR shall retain 100% of any gratuity paid by the consumer,
  whether by cash or credit card. BASKT acknowledges it has no right to
  interfere with the amount of gratuity given by the consumer to the CONTRACTOR.
</p>
<p>
  BASKT will process payments made by consumers and transmit to CONTRACTOR.
  Payments for all deliveries completed in a given week will be transferred via
  direct payment on no less than a weekly basis unless it notifies CONTRACTOR
  otherwise in writing.
</p>
<p>
  Notwithstanding the terms of Section V(1) – (3), fulfillment orders placed
  directly with merchants rather than through the App or BASKT.com (“Fulfillment
  Orders”) may be subject to a different payment model. More information
  regarding Fulfillment Orders may be found here. Nothing prevents the parties
  from negotiating a different rate of pay for a Fulfillment Order, and the
  CONTRACTOR is free to accept or reject Fulfillment Order opportunities. As
  with all Delivery Opportunities, CONTRACTOR shall retain 100% of any gratuity
  paid by the consumer for a Fulfillment Order. BASKT's software may not always
  include an option to add gratuity for Fulfillment Orders; however, consumers
  can pay a gratuity to CONTRACTOR in cash.
</p>
<p>
  From time to time, BASKT may offer various Dasher promotions or referral
  programs. CONTRACTOR agrees that he or she will not manipulate or abuse the
  referral programs or Dasher promotions by, among other things: (a) tampering
  with the location feature on his or her mobile phone; (b) collecting incentive
  or promotional pay when not eligible to receive such pay under relevant
  policies; or, (c) creating multiple Dasher or consumer accounts. CONTRACTOR
  understands that engaging in this type of manipulation or abuse constitutes a
  material breach of this Agreement and may lead to deactivation of his or her
  account.
</p>
<h5>VI. PAYMENT DISPUTES</h5>
<p>
  CONTRACTOR's Failure: In the event there is a Service Failure, CONTRACTOR
  shall not be entitled to payment as described above (as determined in BASKT’s
  reasonable discretion). Any withholding of payment shall be based upon proof
  provided by the consumer, restaurant or other business, CONTRACTOR, and any
  other party with information relevant to the dispute. BASKT shall make the
  initial determination as to whether a Service Failure was the result of
  CONTRACTOR's action/omission. CONTRACTOR shall have the right to challenge
  BASKT’s determination through any legal means contemplated by this Agreement;
  however, CONTRACTOR shall notify BASKT in writing at www.BASKT.com/help/ of
  the challenge and provide BASKT the opportunity to resolve the dispute.
  CONTRACTOR should include any documents or other information in support of
  his/her challenge.
</p>
<p>
  BASKT’s Failure: In the event BASKT fails to remit payment in a timely or
  accurate manner, CONTRACTOR shall have the right to seek proper payment by any
  legal means contemplated by this Agreement and, should CONTRACTOR prevail,
  shall be entitled to recover reasonable costs incurred in pursuing proper
  payment, provided, however, CONTRACTOR shall first inform BASKT in writing at
  www.BASKT.com/help/ of the failure and provide a reasonable opportunity to
  cure it.
</p>
<h5>VII. EQUIPMENT AND EXPENSES</h5>
<p>
  CONTRACTOR represents that he/she has or can lawfully acquire all equipment,
  including vehicles and food hot bags ("Equipment") necessary for performing
  Contracted Services, and CONTRACTOR is solely responsible for ensuring that
  the vehicle used conforms to all vehicle laws pertaining to safety, equipment,
  inspection, and operational capability.
</p>
<p>
  CONTRACTOR agrees that he/she is responsible for all costs and expenses
  arising from CONTRACTOR's performance of Contracted Services, including, but
  not limited to, costs related to CONTRACTOR's Personnel (defined below) and
  Equipment. Except as otherwise required by law, CONTRACTOR assumes all risk of
  damage or loss to its Equipment.
</p>
<h5>VIII. PERSONNEL</h5>
<p>
  In order to perform any Contracted Services, CONTRACTOR must, for the safety
  of consumers on the BASKT platform, pass a background check administered by a
  third-party vendor, subject to CONTRACTOR's lawful consent. CONTRACTOR is not
  required to perform any Contracted Services personally, but may, to the extent
  permitted by law and subject to the terms of this Agreement, hire or engage
  others (as employees or subcontractors of CONTRACTOR) to perform all or some
  of the Contracted Services, provided any such employees or subcontractors meet
  all the requirements applicable to CONTRACTOR including, but not limited to,
  the background check requirements that CONTRACTOR must meet in order to
  perform Contracted Services. To the extent CONTRACTOR furnishes his/her own
  employees or subcontractors (collectively "Personnel"), CONTRACTOR shall be
  solely responsible for the direction and control of the Personnel it uses to
  perform all Contracted Services.
</p>
<p>
  CONTRACTOR assumes full and sole responsibility for the payment of all amounts
  due to his/her Personnel for work performed in relation to this Agreement,
  including all wages, benefits and expenses, if any, and for all required state
  and federal income tax withholdings, unemployment insurance contributions, and
  social security taxes as to CONTRACTOR and all Personnel employed by
  CONTRACTOR in the performance of Contracted Services under this Agreement.
  BASKT shall have no responsibility for any wages, benefits, expenses, or other
  payments due CONTRACTOR's Personnel, nor for income tax withholding, social
  security, unemployment insurance contributions, or other payroll taxes
  relating to CONTRACTOR or his/her Personnel. Neither CONTRACTOR nor his/her
  Personnel shall receive any wages, including vacation pay or holiday pay, from
  BASKT, nor shall they participate in or receive any other benefits, if any,
  available to BASKT's employees.
</p>
<p>
  Unless mandated by law, BASKT shall have no authority to withhold state or
  federal income taxes, social security taxes, unemployment insurance
  taxes/contributions, or any other local, state or federal tax on behalf of
  CONTRACTOR or his/her Personnel.
</p>
<p>
  CONTRACTOR and his/her Personnel shall not be required to wear a uniform or
  other clothing of any type bearing BASKT's name or logo.
</p>
<p>
  If CONTRACTOR uses the services of any Personnel to perform the Contracted
  Services, CONTRACTOR's Personnel must satisfy and comply with all of the terms
  of this Agreement, which CONTRACTOR must make enforceable by written agreement
  between CONTRACTOR and such Personnel. A copy of such written agreement must
  be provided to BASKT at least 7 days in advance of such Personnel performing
  the Contracted Services. The parties acknowledge that the sole purpose of this
  requirement is to ensure CONTRACTOR's compliance with the terms of this
  Agreement.
</p>
<h5>IX. INSURANCE</h5>
<p>
  CONTRACTOR agrees, as a condition of doing business with BASKT, that during
  the term of this Agreement, CONTRACTOR will maintain current insurance, in
  amounts and of types required by law to provide the Contracted Services, at
  his/her own expense. CONTRACTOR acknowledges that failure to secure or
  maintain satisfactory insurance coverage shall be deemed a material breach of
  this Agreement and shall result in the termination of the Agreement and the
  loss of CONTRACTOR's right to receive Delivery Opportunities.
</p>
<p>
  NOTIFICATION OF COVERAGE: CONTRACTOR agrees to deliver to BASKT, upon request,
  current certificates of insurance as proof of coverage. CONTRACTOR agrees to
  provide updated certificates each time CONTRACTOR purchases, renews, or alters
  CONTRACTOR's insurance coverage. CONTRACTOR agrees to give BASKT at least
  thirty (30) days' prior written notice before cancellation of any insurance
  policy required by this Agreement.
</p>
<p>
  WORKERS' COMPENSATION/OCCUPATIONAL ACCIDENT INSURANCE: CONTRACTOR agrees that
  CONTRACTOR will maintain sufficient insurance to cover any risks or claims
  arising out of or related to CONTRACTOR’S relationship with BASKT, including
  workers’ compensation insurance where required by law. CONTRACTOR acknowledges
  and understands that CONTRACTOR will not be eligible for workers’ compensation
  benefits through BASKT and is instead responsible for maintaining CONTRACTOR’S
  own workers’ compensation insurance or occupational accident insurance.
  CONTRACTOR’S maintenance of CONTRACTOR’S own workers’ compensation insurance
  or occupational accident insurance will not disqualify CONTRACTOR from
  participating in the Occupational Accident Insurance Policy for Dashers, which
  BASKT may make available to CONTRACTOR.
</p>
<h5>X. INDEMNITY</h5>
<p>
  BASKT agrees to indemnify, protect and hold harmless CONTRACTOR from any and
  all claims, demands, damages, suits, losses, liabilities and causes of action
  arising directly from BASKT's actions arranging and offering the Contracted
  Services to CONTRACTOR.
</p>
<p>
  CONTRACTOR agrees to indemnify, protect and hold harmless BASKT, including all
  parent, subsidiary and/or affiliated companies, as well as its and their past
  and present successors, assigns, officers, owners, directors, agents,
  representatives, attorneys, and employees, from any and all claims, demands,
  damages, suits, losses, liabilities and causes of action arising directly or
  indirectly from, as a result of or in connection with, the actions of
  CONTRACTOR and/or his/her Personnel arising from the performance of delivery
  services under this Agreement, including personal injury or death to any
  person (including to CONTRACTOR and/or his/her Personnel), as well as any
  liability arising from CONTRACTOR's failure to comply with the terms of this
  Agreement. CONTRACTOR's obligations hereunder shall include the cost of
  defense, including attorneys' fees, as well as the payment of any final
  judgment rendered against or settlement agreed upon by BASKT or its parent,
  subsidiary and/or affiliated companies.
</p>
<p>
  CONTRACTOR agrees to indemnify, protect and hold harmless BASKT, including all
  parent, subsidiary, and/or affiliated companies, as well as its and their past
  and present successors, assigns, officers, owners, directors, agents,
  representatives, attorneys, and employees, from any and all tax liabilities
  and responsibilities for payment of all federal, state and local taxes,
  including, but not limited to all payroll taxes, self-employment taxes,
  workers compensation premiums, and any contributions imposed or required under
  federal, state and local laws, with respect to CONTRACTOR and CONTRACTOR's
  Personnel.
</p>
<p>
  CONTRACTOR shall be responsible for, indemnify and hold harmless BASKT,
  including all parent, subsidiary, and/or affiliated companies, as well as its
  and their past and present successors, assigns, officers, owners, directors,
  agents, representatives, attorneys, and employees, from all costs of
  CONTRACTOR's business, including, but not limited to, the expense and
  responsibility for any and all applicable insurance, local, state or federal
  licenses, permits, taxes, and assessments of any and all regulatory agencies,
  boards or municipalities.
</p>
<h5>XI. MUTUAL ARBITRATION PROVISION</h5>
<p>
  CONTRACTOR and BASKT mutually agree to this Mutual Arbitration Provision,
  which is governed by the Federal Arbitration Act (9 U.S.C. §§ 1-16) (“FAA”)
  and shall apply to any and all disputes arising out of or relating to this
  Agreement, CONTRACTOR’s classification as an independent contractor,
  CONTRACTOR’s provision of Contracted Services to consumers, the payments
  received by CONTRACTOR for providing services to consumers, the termination of
  this Agreement, and all other aspects of CONTRACTOR's relationship with BASKT,
  past, present or future, whether arising under federal, state or local
  statutory and/or common law, including without limitation harassment,
  discrimination or retaliation claims and claims arising under or related to
  the Civil Rights Act of 1964 (or its state or local equivalents), Americans
  With Disabilities Act (or its state or local equivalents), Age Discrimination
  in Employment Act (or its state or local equivalents), Family Medical Leave
  Act (or its state or local equivalents), Federal Credit Reporting Act (or its
  state or local equivalents), Telephone Consumer Protection Act (or its state
  or local equivalents), or Fair Labor Standards Act (or its state or local
  equivalents), state and local wage and hour laws, state and local statutes or
  regulations addressing the same or similar subject matters, and all other
  federal, state or local claims arising out of or relating to CONTRACTOR’s
  relationship or the termination of that relationship with BASKT. The parties
  expressly agree that this Agreement shall be governed by the FAA even in the
  event CONTRACTOR and/or BASKT are otherwise exempted from the FAA. Any
  disputes in this regard shall be resolved exclusively by an arbitrator. If for
  any reason the FAA does not apply, the state law governing arbitration
  agreements in the state in which the CONTRACTOR operates shall apply.
</p>
<p>
  If either CONTRACTOR or BASKT wishes to initiate arbitration, the initiating
  party must notify the other party in writing via certified mail, return
  receipt requested, or hand delivery within the applicable statute of
  limitations period. This demand for arbitration must include (1) the name and
  address of the party seeking arbitration, (2) a statement of the legal and
  factual basis of the claim, and (3) a description of the remedy sought and (4)
  the amount in controversy. Any demand for arbitration by CONTRACTOR must be
  delivered to General Counsel, 303 2nd Street, Suite 800, San Francisco, CA,
  94107.
</p>
<p>
  Arbitration Class Action Waiver. CONTRACTOR and BASKT mutually agree that by
  entering into this agreement to arbitrate, both waive their right to have any
  dispute or claim brought, heard or arbitrated as, or to participate in, a
  class action, collective action and/or representative action—including but not
  limited to actions brought pursuant to the Private Attorney General Act
  (“PAGA”), California Labor Code section 2699 et seq., and any request seeking
  a public injunction—and an arbitrator shall not have any authority to hear or
  arbitrate any class, collective or representative action, or to award relief
  to anyone but the individual in arbitration (“Arbitration Class Action
  Waiver”). Notwithstanding any other clause contained in this Agreement or the
  CPR Rules, as defined below, any claim that all or part of this Arbitration
  Class Action Waiver is unenforceable, unconscionable, void or voidable may be
  determined only by a court of competent jurisdiction and not by an arbitrator.
  In any case in which (1) the dispute is filed as a class, collective, or
  representative action and (2) there is a final judicial determination that all
  or part of the Arbitration Class Action Waiver is unenforceable, the class,
  collective and/or representative action to that extent must be litigated in a
  civil court of competent jurisdiction, but the portion of the Arbitration
  Class Action Waiver that is enforceable shall be enforced in arbitration. All
  other disputes with respect to whether this Mutual Arbitration Provision is
  unenforceable, unconscionable, applicable, valid, void or voidable, and all
  disputes regarding the payment of arbitrator or arbitration-organization fees
  including the timing of such payments and remedies for nonpayment, shall be
  determined exclusively by an arbitrator, and not by any court. For sake of
  clarification only, nothing in this paragraph shall be construed to prohibit
  settlements on a class-wide, collective, and/or representative basis.
</p>
<p>
  CONTRACTOR agrees and acknowledges that entering into this Mutual Arbitration
  Provision does not change CONTRACTOR’s status as an independent contractor in
  fact and in law, that CONTRACTOR is not an employee of BASKT or its customers
  and that any disputes in this regard shall be subject to arbitration as
  provided in this agreement.
</p>
<p>
  Any arbitration shall be governed by the CPR Administered Arbitration Rules
  and, when applicable, the CPR Employment-Related Mass-Claims Protocol
  (together, the “CPR Rules”) of the International Institute for Conflict
  Prevention & Resolution, except as follows:
</p>
<p>
  The arbitration shall be heard by one arbitrator (the “Arbitrator”) selected
  in accordance with the CPR Rules. The Arbitrator shall be an attorney with
  experience in the law underlying the dispute.
</p>
<p>
  If the parties cannot otherwise agree on a location for the arbitration, the
  arbitration shall take place within 45 miles of CONTRACTOR’s residence as of
  the effective date of this Agreement.
</p>
<p>
  The CPR fee schedule will apply with the following exceptions. Unless
  applicable law provides otherwise, in the event that BASKT and CONTRACTOR have
  agreed to this Mutual Arbitration Provision, BASKT and CONTRACTOR shall
  equally share filing fees and other similar and usual administrative costs, as
  are common to both court and administrative proceedings, but CONTRACTOR’s
  share of such fees and costs will not exceed the filing fee to file the case
  in a court of competent jurisdiction embracing the location of the
  arbitration. BASKT shall pay any costs uniquely associated with arbitration,
  such as payment of the fees of the Arbitrator, as well as room rental.
</p>
<p>
  The Arbitrator may issue orders (including subpoenas to third parties)
  allowing the parties to conduct discovery sufficient to allow each party to
  prepare that party's claims and/or defenses, taking into consideration that
  arbitration is designed to be a speedy and efficient method for resolving
  disputes.
</p>
<p>
  Except as provided in the Arbitration Class Action Waiver, the Arbitrator may
  award all remedies to which a party is entitled under applicable law and which
  would otherwise be available in a court of law, but shall not be empowered to
  award any remedies that would not have been available in a court of law for
  the claims presented in arbitration. The Arbitrator shall apply the state or
  federal substantive law, or both, as is applicable.
</p>
<p>
  The Arbitrator may hear motions to dismiss and/or motions for summary judgment
  and will apply the standards of the Federal Rules of Civil Procedure governing
  such motions.
</p>
<p>
  The Arbitrator's decision or award shall be in writing with findings of fact
  and conclusions of law.
</p>
<p>
  The Arbitrator may issue orders to protect the confidentiality of proprietary
  information, trade secrets, or other sensitive information. Subject to the
  discretion of the Arbitrator or agreement of the parties, any person having a
  direct interest in the arbitration may attend the arbitration hearing. The
  Arbitrator may exclude any non-party from any part of the hearing.
</p>
<p>
  Either CONTRACTOR or BASKT may apply to a court of competent jurisdiction for
  temporary or preliminary injunctive relief on the ground that without such
  relief the arbitration provided in this paragraph may be rendered ineffectual.
</p>
<p>
  Nothing in this Mutual Arbitration Provision prevents you from making a report
  to or filing a claim or charge with the Equal Employment Opportunity
  Commission, U.S. Department of Labor, U.S. Securities and Exchange Commission,
  National Labor Relations Board, or Office of Federal Contract Compliance
  Programs. Nothing in this Mutual Arbitration Provision prevents the
  investigation by a government agency of any report, claim or charge otherwise
  covered by this Mutual Arbitration Provision. This Mutual Arbitration
  Provision also does not prevent federal administrative agencies from
  adjudicating claims and awarding remedies based on those claims, even if the
  claims would otherwise be covered by this Mutual Arbitration Provision.
  Nothing in this Mutual Arbitration Provision prevents or excuses a party from
  satisfying any conditions precedent and/or exhausting administrative remedies
  under applicable law before bringing a claim in arbitration. BASKT will not
  retaliate against CONTRACTOR for filing a claim with an administrative agency
  or for exercising rights (individually or in concert with others) under
  Section 7 of the National Labor Relations Act. Disputes between the parties
  that may not be subject to predispute arbitration agreement, including as
  provided by an Act of Congress or lawful, enforceable Executive Order, are
  excluded from the coverage of this Mutual Arbitration Provision.
</p>
<p>
  The CPR Rules may be found at www.cpradr.org or by searching for “CPR
  Administered Arbitration Rules” and “CPR Employment-Related Mass-Claims
  Protocol” using a service such as www.google.com or www.bing.com or by asking
  BASKT’s General Counsel to provide a copy.
</p>
<p>
  CONTRACTOR’s Right to Opt Out of Mutual Arbitration Provision. Arbitration is
  not a mandatory condition of CONTRACTOR’s contractual relationship with BASKT,
  and therefore CONTRACTOR may submit a statement notifying BASKT that
  CONTRACTOR wishes to opt out and not be subject to this MUTUAL ARBITRATION
  PROVISION. In order to opt out, CONTRACTOR must notify BASKT in writing of
  CONTRACTOR's intention to opt out by sending a letter, by First Class Mail, to
  General Counsel, 303 2nd Street, Suite 800, San Francisco, CA, 94107. Any
  attempt to opt out by email will be ineffective. The letter must state
  CONTRACTOR's intention to opt out. In order to be effective, CONTRACTOR's opt
  out letter must be postmarked within 30 days of the effective date of this
  Agreement. The letter must be signed by CONTRACTOR himself/herself, and not by
  any agent or representative of CONTRACTOR. The letter may opt out, at most,
  only one CONTRACTOR, and letters that purport to opt out multiple CONTRACTORS
  will not be effective as to any. No CONTRACTOR (or his or her agent or
  representative) may effectuate an opt out on behalf of other CONTRACTORS. If
  CONTRACTOR opts out as provided in this paragraph, CONTRACTOR will not be
  subject to any adverse action from BASKT as a consequence of that decision and
  he/she may pursue available legal remedies without regard to this Mutual
  Arbitration Provision. If CONTRACTOR does not opt out within 30 days of the
  effective date of this Agreement, CONTRACTOR and BASKT shall be deemed to have
  agreed to this Mutual Arbitration Provision. CONTRACTOR has the right to
  consult with counsel of CONTRACTOR's choice concerning this Mutual Arbitration
  Provision (or any other provision of this Agreement).
</p>
<p>
  This Mutual Arbitration Provision is the full and complete agreement relating
  to the formal resolution of disputes covered by this Mutual Arbitration
  Provision. In the event any portion of this Mutual Arbitration Provision is
  deemed unenforceable, the remainder of this Mutual Arbitration Provision will
  be enforceable. The award issued by the Arbitrator may be entered in any court
  of competent jurisdiction.
</p>
<h5>XII. LITIGATION CLASS ACTION WAIVER</h5>
<p>
  To the extent allowed by applicable law, separate and apart from the Mutual
  Arbitration Provision found in Section XI, CONTRACTOR agrees that any
  proceeding to litigate in court any dispute arising out of or relating to this
  Agreement, whether because CONTRACTOR opted out of the Mutual Arbitration
  Provision or any other reason, will be conducted solely on an individual
  basis, and CONTRACTOR agrees not to seek to have any controversy, claim or
  dispute heard as a class action, a representative action, a collective action,
  a private attorney-general action, or in any proceeding in which CONTRACTOR
  acts or proposes to act in a representative capacity (“Litigation Class Action
  Waiver”). CONTRACTOR further agrees that no proceeding will be joined,
  consolidated, or combined with another proceeding, without the prior written
  consent of all parties to any such proceeding. If a court of competent
  jurisdiction determines that all or part of this Litigation Class Action
  Waiver is unenforceable, unconscionable, void or voidable, the remainder of
  this Agreement shall remain in full force and effect.
</p>
<h5>XIII. TERMINATION OF AGREEMENT</h5>
<p>
  CONTRACTOR may terminate this Agreement upon seven (7) days written notice.
  BASKT may terminate this Agreement and deactivate CONTRACTOR’S Dasher account
  only for the reasons set forth in the BASKT Deactivation Policy, or for a
  material breach of this Agreement. Notwithstanding any other provision in this
  Agreement, BASKT reserves the right to modify the Deactivation Policy if, in
  BASKT’s good faith and reasonable discretion, it is necessary to do so for the
  safe and/or effective operation of the BASKT platform. BASKT shall provide
  notice of any such changes to CONTRACTOR via e-mail. Changes to the
  Deactivation Policy shall be effective and binding on the parties upon
  CONTRACTOR’s continued use of the BASKT platform following BASKT’s e-mail
  notice of such modifications. Nothing will prevent CONTRACTOR from attempting
  to negotiate an exemption from any modification to the Deactivation Policy.
</p>
<p>
  CONTRACTOR’s and BASKT’s obligations and rights arising under the Mutual
  Arbitration Provision of this Agreement shall survive termination of this
  Agreement. Notwithstanding any other provision in this Agreement, the
  Deactivation Policy is subject to change; such changes shall be effective and
  binding on the parties upon BASKT’S provision of notice to CONTRACTOR via
  e-mail.
</p>
<h5>XIV. ENTIRE AGREEMENT, TRANSFERABILITY, AND WAIVER</h5>
<p>
  This Agreement shall constitute the entire agreement and understanding between
  the parties with respect to the subject matter of this Agreement and shall not
  be modified, altered, changed or amended in any respect, unless in writing and
  signed by both parties. Before accepting any modifications, alterations,
  changes or amendments, CONTRACTOR shall have the right to discuss any proposed
  changes with BASKT and consider whether to continue his/her contractual
  relationship with BASKT. This Agreement supersedes any prior contract between
  the parties. To the extent BASKT’s consumer facing Terms and Conditions
  Agreement (or updated consumer facing Terms and Conditions Agreement, if
  applicable) is inconsistent or conflicts with this Agreement, this Agreement
  controls. However, the decision to opt-out of the Mutual Arbitration Provision
  in this Agreement does not affect the enforceability of any arbitration
  agreement in the consumer facing Terms and Conditions Agreement to which
  Contractor may be bound (and vice versa). This Agreement may not be assigned
  by either party without written consent of the other and shall be binding upon
  the parties hereto, including their heirs and successors, provided, however,
  that BASKT may assign its rights and obligations under this Agreement to an
  affiliate of BASKT or any successor(s) to its business and/or purchaser of
  substantially all of its stock or assets. References in this Agreement to
  BASKT shall be deemed to include such successor(s).
</p>
<p>
  The failure of BASKT or CONTRACTOR in any instance to insist upon a strict
  performance of the terms of this Agreement or to exercise any option herein,
  shall not be construed as a waiver or relinquishment of such term or option
  and such term or option shall continue in full force and effect.
</p>
<h5>XV. MISCELLANEOUS</h5>
<p>
  CAPTIONS: Captions appearing in this Agreement are for convenience only and do
  not in any way limit, amplify, modify, or otherwise affect the terms and
  provisions of this Agreement.
</p>
<p>
  SEVERABILITY Clause: Except as specifically provided in Section XI, if any
  part of this Agreement is declared unlawful or unenforceable, the remainder of
  this Agreement shall remain in full force and effect.
</p>
<p>
  GOVERNING LAW: Except for the Mutual Arbitration Provision above, which is
  governed by the Federal Arbitration Act, the choice of law for interpretation
  of this Agreement, and the right of the parties hereunder, as well as
  substantive interpretation of claims asserted pursuant to Section XI, shall be
  the rules of law of the state in which CONTRACTOR performs the majority of the
  services covered by this Agreement.
</p>
<p>
  NOTICE AND OPPORTUNITY TO CURE: CONTRACTOR agrees to notify baskt, llc in
  writing at of any breach or perceived breach of this Agreement, of any claim
  arising out of or related to this Agreement, or of any claim that CONTRACTOR’s
  services or scope of work differ in any way from what is contemplated in this
  Agreement, including but not limited to the terms in Sections II (Contractor’s
  Operations) and III (Contracted Services), or if the relationship of the
  parties differs from the terms contemplated in Section IV (Relationship of
  Parties).
</p>
<h5>XVI. Third-Party Payment Provider</h5>
<p>
  You expressly authorize BASKT’S service provider, Dwolla, Inc. to originate
  credit transfers to your financial institution account. You authorize
  [baskt/us] to collect and share with Dwolla your personal information
  including full name, email address and financial information, and you are
  responsible for the accuracy and completeness of that data. Dwolla’s Privacy
  Policy is available here: https://www.dwolla.com/legal/privacy/
</p>
<h5>XVII. Contact Support</h5>
<p>
  If you have any questions comments or concerns contact support at
  baskt.com/contact-us
</p>
