<h3><b>Safe and Secure</b></h3>
<br />
<h5><b>1. INTRODUCTION</b></h5>
<p
  >Welcome to baskt, llc (“baskt”). This Agreement applies to all of the
  websites where it is posted (collectively “baskt Sites”). By using one of the
  baskt Sites, you accept this Agreement and certify that you are above the age
  of majority in your jurisdiction. Additional terms and conditions apply to
  some services offered on the baskt Sites and may be found at the place where
  the relevant service is offered.
</p>
<p
  >We may change the terms of this Agreement from time to time. By continuing to
  use any of the baskt Sites after we post any such changes, you accept the
  Agreement, as modified.</p
>
<h5><b>2. USE OF BASKT SITES</b></h5>
<p
  >You certify that the information you provide on the baskt Sites is accurate
  and complete. You will be responsible for the confidentiality of your password
  and for all statements made and acts or omissions that occur on your account.
  If you believe someone has used your password or account without your
  authorization, you must notify baskt immediately. Your account may also be
  restricted or terminated for any reason, at our sole discretion. We may also
  change, restrict access to, suspend, or discontinue the baskt Sites, or any
  portion of the baskt Sites, at any time without notice.
</p>
<p
  >Baskt and its affiliates have no liability to you for content on the baskt
  Sites that you find offensive, indecent, or objectionable. Certain videos,
  movies, TV programs, video games, and computer games are labeled with age
  restrictions and may be intended for mature audiences only. By ordering an age
  restricted item, you certify that you satisfy the age restrictions.</p
>
<p
  >We sell products for children’s use; however, these products are intended for
  selling to adults. If you are under the age of majority in your jurisdiction,
  you may use the baskt Sites only with involvement of a parent or guardian.
  Individuals may use the baskt Sites to create gift or wish lists for
  individuals, including children under the age of 13 by making product
  selections for the child; additional personally identifiable information about
  the child should not be provided.</p
>
<p>You are prohibited from:</p>
<p
  >o
  <span
    >Violating or attempting to violate the security of the baskt Sites;</span
  ></p
>
<p
  >o
  <span
    >Using any device, software, or routine to interfere or attempt to interfere
    with the proper working of the baskt Sites; or</span
  ></p
>
<p
  >o
  <span
    >Using or attempting to use any engine, software, tool, agent or other
    device or mechanism (except the search mechanisms provided by baskt or other
    third party web browsers) to navigate or search the baskt Sites.
  </span></p
>
<h5><b>3. CONTENT SUBMISSION</b></h5>
<p
  >baskt allows users to submit and share comments, feedback, submissions,
  suggestions, questions, reviews, and other content through the baskt Sites
  (“Content”). Content should be written in English.</p
>
<p>
  By submitting Content, you warrant that (1) you are the sole author and owner
  of the Content; (2) you are at least 18 years old or if you are under the age
  of 18, you are at least 13 years old and your submission has been made under
  the supervision of a parent of legal guardian who agrees to be bound by this
  Agreement; and (3) use of any Content you supply will not violate any term of
  this Agreement and will not cause injury to any person or entity.
</p>
<h5><b>A. &nbsp; &nbsp; LICENSE GRANT FOR SUBMITTED CONTENT</b></h5>
<p
  >If you make any submission to the baskt Sites, you automatically grant, or
  warrant that the owner of such content has expressly granted baskt, a
  royalty-free, perpetual, irrevocable, worldwide, unlimited, nonexclusive
  license to use, reproduce, create derivative works from, modify, publish,
  edit, translate, distribute, perform, and display the communication or content
  material in any media or medium, or any form, format, or forum now known or
  hereafter developed. baskt may sublicense its rights through multiple tiers of
  sublicenses. You should not submit any Content to us that you do not wish to
  license to us. baskt is and shall be under no obligation (1) to maintain any
  Content in confidence; (2) to pay any compensation for any Content; or (3) to
  respond to any user Content. You grant baskt the right to use the name that
  you submit in connection with any Content.</p
>
<h5><b>B. &nbsp; &nbsp; PROHIBITED CONTENT</b></h5>
<p>You represent and warrant that you will not submit the following Content:</p>
<p>a)&nbsp; &nbsp; Content that is false, inaccurate, or misleading;</p>
<p
  >b)&nbsp; &nbsp; Content that contains your full name(s), or any other
  confidential identifiable information of yourself or others;</p
>
<p
  >c) &nbsp; &nbsp; Content that violates any local, state, federal, or
  international laws;</p
>
<p
  >d) &nbsp; &nbsp; Content that infringes on the rights of others, including
  patents, copyrights, trademarks, trade secrets, publicity or privacy
  rights;</p
>
<p
  >e) &nbsp; &nbsp; Content that is unlawful, obscene, derogatory, defamatory,
  threatening, harassing, abusive, slanderous, hateful, or embarrassing to any
  other person or entity as determined by baskt in its sole discretion;</p
>
<p
  >f) &nbsp; &nbsp; Advertisements, solicitations or spam links to other web
  sites or individuals, without prior written permission from baskt;</p
>
<p>g) &nbsp; &nbsp; Chain letters or pyramid schemes;</p>
<p
  >h) &nbsp; &nbsp; Content that impersonates another business, person or
  entity, including baskt, its related entities, employees and agents;</p
>
<p
  >i) &nbsp; &nbsp; Content that contains viruses or other harmful computer
  code;</p
>
<p
  >j) &nbsp; &nbsp; Content that victimizes, harasses, degrades, or intimidates
  an individual or group of individuals on the basis of religion, gender, sexual
  orientation, race, ethnicity, age or disability;</p
>
<p
  >k) &nbsp; &nbsp; Content that you were compensated or granted any
  compensation by any third party unless otherwise authorized by baskt in
  writing; or</p
>
<p
  >l) &nbsp; &nbsp; Content that violates any policy posted on the baskt Sites,
  or interferes with the use of the baskt Sites by others.</p
>
<p
  >Although baskt cannot monitor all Content, you understand that baskt shall
  have the right, but not the obligation, to monitor the Content of the baskt
  Sites to determine compliance with this Agreement and any other operating
  rules that may be established by baskt from time to time. baskt shall have the
  right, in its sole discretion, to edit, move, delete, or refuse to post any
  Content submitted, to or posted on, the baskt Sites for any reason, including
  violation of this Agreement, whether for legal or other reasons.
  Notwithstanding this right of ours, you are solely responsible for any Content
  you submit and you agree to indemnify baskt and its affiliates for all claims
  resulting from any Content you submit.</p
>
<h5><b>4. THIRD PARTY SITES</b></h5>
<p
  >References on baskt Sites to any names, marks, products, or services of third
  parties, or links to third-party sites or information are not an endorsement,
  sponsorship, or recommendation of the third party, its information, products,
  or services. baskt is not responsible for the content of any third party
  linked site or any link contained in a linked site. Your use of a third-party
  site linked from a baskt Site is at your own risk and will be governed by such
  third party's terms and policies.</p
>
<h5><b>5. ORDER ACCEPTANCE AND BILLING</b></h5>
<p
  >All billing information provided must be truthful and accurate. Providing any
  untruthful or inaccurate information constitutes a breach of this Agreement
  and may result in order cancellation. Prior to accepting an order we may also
  request additional information from you. We reserve the right to refuse or
  cancel an order for any reason including limitations on quantities available
  for purchase, inaccuracies, or errors in product or pricing information, or
  problems identified by our credit and fraud avoidance department. If your
  order is canceled after your credit card (or other payment account) has been
  charged, we will issue a credit to your credit card (or other applicable
  payment account) in the amount of the charge. We will contact you if all or
  any portion of your order is cancelled or if additional information is
  required to accept your order. baskt may request a pre-authorization for some
  orders placed online with a credit or debit card. This pre-authorization will
  not be billed to you; however, your card issuer may hold this amount for a
  short period. Your card issuer determines the length of time the
  pre-authorization is held. We do this to ensure that the card details are
  still valid and that you have sufficient funds to complete the transaction.</p
>
<p
  >By confirming your purchase at the end of the checkout process, you agree to
  accept and pay for the item(s). You will not be charged for most orders until
  the order has shipped. Some other exceptions when you will be charged at the
  time your order is placed are: (i) orders or preorders paid for with a Gift
  Card, eGift Card or PayPal account; and (ii) orders paid using the in-store
  “Cash” payment method.</p
>
<p
  >baskt reserves the right to limit the quantity of items purchased per person,
  per household or per order for any reason. These restrictions may apply to
  orders placed by the same account, the same credit card, and also to orders
  that use the same billing and/or shipping address. We will notify you should
  such limits be applied. baskt also reserves the right, at our sole discretion,
  to prohibit sales to dealers or resellers. For purposes of this Agreement,
  reselling shall be defined as purchasing or intending to purchase any
  product(s) from basktfor the purpose of engaging in a commercial sale of that
  same product(s) with a third party.</p
>
<h5><b>6. PRICING INFORMATION</b></h5>
<p
  >Promotional codes are limited in nature and may expire or discontinue with or
  without notice. Promotional codes are void where prohibited by law.
  Promotional codes may not be copied, sold, or otherwise offered. They are not
  redeemable for cash and are subject to cancellation or change at any time for
  any reason.</p
>
<h5><b>8. INFORMATION PROVIDED ON THE BASKT SITES</b></h5>
<p
  >baskt and our customers post a variety of material on the baskt Sites
  including without limitation, merchandise information, product descriptions,
  reviews, comments, health and prescription information, and In Store Now
  information (collectively, “Materials”). The Materials that appear on the
  baskt Sites are for educational and informational purposes only. Despite our
  efforts to provide useful and accurate information, errors may appear from
  time to time. Before you act on information you have found on the baskt Sites,
  you should confirm any facts that are important to your decision. baskt and
  its information providers make no warranty as to the reliability, accuracy,
  timeliness, usefulness, or completeness of the information on the baskt Sites.
  baskt is not responsible for, and cannot guarantee the performance of, goods
  and services provided by our advertisers or others to whose sites we link.
  Product information contained on the baskt Sites may be different from
  information contained on the product materials due to manufacturer changes. If
  you find a product is not as described, your sole remedy is to return it in
  unused condition (excluding products that are not eligible for return).
</p>
<p
  >No health, wellness, prescription or pharmaceutical information is intended
  to substitute for the diagnosis, treatment and advice of a medical
  professional and this information does not cover all possible uses,
  precautions, side effects and interactions and should not be construed to
  indicate that any drug is safe for you. Consult the product information
  (including package inserts) regarding dosage, precautions, warnings, and
  interactions and your medical professional for guidance before using any
  prescription or over the counter drug.</p
>
<p
  >baskt, ITS AFFILIATES, AND AGENTS ASSUME NO RESPONSIBILITY FOR ANY
  CONSEQUENCE RELATING DIRECTLY OR INDIRECTLY TO ANY ACTION OR INACTION YOU TAKE
  BASED ON THE MATERIALS LOCATED ON ANY OF THE baskt SITES.</p
>
<h5><b>9. GIFT CARDS</b></h5>
<p
  >The risk of loss and title to such gift cards passes to the purchaser upon
  our electronic transmission to the recipient.
</p>
<h5><b>10. INTELLECTUAL PROPERTY</b></h5>
<p
  >All copyrights, trademarks, trade dress, other intellectual property and
  materials, including page headers, images, text, illustrations, formats,
  logos, designs, icons, photographs, programs, music clips or downloads, video
  clips and written and other materials (collectively, the "IP") are owned,
  controlled or licensed by baskt, one of its affiliates or by third parties who
  have licensed their materials to baskt and are protected by U.S. and
  international trademark and copyright laws. You may access, view, download,
  and print the IP and all other materials displayed on the baskt Sites for your
  personal, non-commercial use only; provided, however, that you (1) retain all
  copyright, trademark or other proprietary designations contained on all IP;
  (2) do not modify or alter the IP in any way; and (3) do not provide or make
  available the IP to any third party in a commercial manner. No license, right,
  title, or interest in any materials or software is transferred to you as a
  result of your use of the baskt Sites or your accessing, viewing, downloading,
  or printing of the IP. You may not reproduce (except as noted above), publish,
  transmit, distribute, display, modify, create derivative works from, sell or
  participate in any sale of or exploit in any way, in whole or in part, any of
  the IP, the baskt Sites or any related software. All software used on the
  baskt Sites is the property of baskt or its suppliers and protected by U.S.
  and international copyright laws. The IP and software on the baskt Sites may
  be used only as a shopping resource. Any other use, including the
  reproduction, modification, distribution, transmission, republication,
  display, or performance, of the IP on this Site is strictly prohibited. The
  compilation (meaning the collection, arrangement, and assembly) of all IP on
  the baskt Sites is the exclusive property of baskt and is also protected by
  U.S. and international copyright laws..</p
>
<p
  >baskt, the baskt.com names and logos, and all other graphics, logos, page
  headers, button icons, scripts, and service names included in or made
  available through any of the baskt Sites are trademarks or trade dress of
  baskt in the U.S. and other countries. All other marks are the property of
  their respective companies.</p
>
<h5><b>11. TERMS APPLICABLE TO BASKT MARKETPLACE</b></h5>
<h5><b>A. &nbsp; &nbsp; ORDERS</b></h5>
<p
  >Once you have placed an order for baskt online grocery services, we will send
  you an order acknowledgement by email setting out what you have ordered. This
  is not an order confirmation or acceptance from us.
</p>
<p
  >baskt may provide you with a refund in certain circumstances. If you are not
  satisfied with your order, please contact the baskt.</p
>
<p
  >baskt will not provide you a refund for certain goods which by nature cannot
  be returned. Such items include items which cannot be resold for health and
  hygiene reasons once unwrapped (for example body jewelry, mattresses, bedding,
  certain items of clothing, personal grooming products, medicines, and certain
  baby products etc.).</p
>
<p
  >Notwithstanding the foregoing, all refunds will be subject to baskt's
  discretion.</p
>
<h5><b>B. &nbsp; &nbsp; BASKT ONLINE GROCERY SERVICES PRICING</b></h5>
<p
  >If you have chosen to allow substitutions for your order, and substitutions
  are made, you will also be charged for the lower priced item. Please note that
  due to differences in distribution, regional competition, and other factors,
  prices may vary between stores, and so the prices you see online will not
  match all stores, only the store where your order is packed. baskt Grocery
  does not match prices from other online or physical stores, or baskt stores
  other than the one where your items are picked and packed.</p
>
<h5><b>C. &nbsp; &nbsp; BASKT ONLINE GROCERY SERVICES PROMOTION CODES</b></h5>
<p
  >Promotion Codes ("Promo Codes:") are valid only on orders placed for baskt
  online grocery services, subject to the terms of this section. Your use of a
  Promo Code indicates your agreement to be bound by these terms and any Promo
  Code terms on the promotion offer itself. baskt will only honor a Promo Code
  if it is used in accordance with the terms.</p
>
<p
  >Only promo codes issued by baskt can be used for baskt online grocery
  services. Promo codes cannot be used in baskt stores. Promo codes issued by
  baskt are, and shall remain, the property of baskt and are not transferable,
  cannot be resold, and have no cash alternative unless otherwise stated. Promo
  codes may not be used for alcohol purchases.
</p>
<p
  >Promo codes can be added to your baskt online grocery order by entering the
  code at checkout or by selecting a saved offer in checkout. To apply a Promo
  Code to your order you must select it in the "Review Order" section at
  checkout. Use of a Promo Code may be subject to you providing proof of
  entitlement to use the Promo Code.</p
>
<p
  >All Promo Codes have an expiration date, after which they cannot be used for
  any order. Promo Code values may be adjusted if the total discount value is
  greater than the value of your order.</p
>
<p
  >baskt reserves the right to withdraw or cancel any of its Promo Codes at any
  time, either as a whole, or for specific goods. If this happens, then the
  Promo Codes may not be used for any orders placed after the date of withdrawal
  or cancellation. baskt reserves the right to reject or cancel the use of a
  Promo Code where fraud or misuse is suspected. You will have no claim against
  baskt in respect of such rejection or cancellation of a Promo Code. baskt
  shall not be liable to any customer or household for any financial loss
  arising out of the cancellation or withdrawal of any Promo Code or any failure
  or inability of a customer to use a Promo Code for any reason.</p
>
<p
  >Promo Codes may not be copied, reproduced, published, or distributed directly
  or indirectly in any form for use by anyone other than the original recipient.
  By using a Promo Code, you warrant that you are the duly authorized recipient
  of it.
</p>
<h5><b>13. DIGITAL PHOTO CENTER</b></h5>
<p
  >baskt claims no ownership rights to the photos, photo files, albums,
  projects, captions or prints, (collectively defined as "Photos"), that you
  place in your baskt Digital Photo Center Account. However, by uploading Photos
  into your baskt Digital Photo Center Account, you agree to waive all moral
  rights to those images. In addition, you grant to baskt a nonexclusive,
  worldwide, royalty-free license, so we can download, upload, copy, print,
  display, reproduce, modify, publish, post, transmit and distribute the photos
  included in your Photo Center Account for the purpose of displaying Photos to
  the people you select and to fulfill orders.</p
>
<p
  >We will not use or modify your Photos for marketing purposes or any other
  purposes without obtaining your express permission.</p
>
<p
  >You are responsible for monitoring and creating backup copies of the Photos
  stored in your account. baskt Digital Photo Center is not under warranty.
  baskt will not be liable for any damage to your photos, albums, rolls or
  uploads, including but not limited to loss, deletion or alteration.</p
>
<p
  >baskt may terminate your service and delete any and all information,
  including but not limited to your Photos, without notice, for any reason
  including, but not limited to (i) your violation of these Terms of Use or
  other policies set by baskt elsewhere on the site; (ii) online conduct that
  baskt believes is harmful to other customers, the business of baskt, or other
  third-party information providers; and (iii) failure to access your account
  for one (1) year.</p
>
<p
  >baskt reserves the right to disclose any Photos posted by you or any other
  customers as necessary to satisfy any law, regulation or governmental request,
  or to edit, refuse to post or to remove any Photos, in whole or in part, that
  in baskt’s judgment is unsuitable or in violation of these Terms or other
  policy set by baskt elsewhere on the site. baskt may delete, move and edit
  Photos for any reason, at any time, without notice.</p
>
<p
  >By submitting Photos, you warrant that you are the sole author and owner of
  the Photos, or that you have obtained all required releases or permissions to
  permit copying, printing, licensing of the Photos and your use of the baskt
  Digital Photo Center, as set forth in these Terms.</p
>
<p
  >baskt Photo Centers reserve the right to require that you obtain a signed
  Copyright Release form from the photographer or studio for photographs that
  are signed, stamped or otherwise identified by any photographer or studio as
  copyrighted material, or any photograph that appears to have been taken by a
  professional photographer or studio, even if it is not marked with any sort of
  copyright. In such cases, negatives or digital images of a copyrighted image
  will be returned to you unprinted and you will be provided instructions on how
  to present baskt with a signed Copyright Release. Copyright owner release
  forms and copyright permission release forms are available at the store Photo
  Center.</p
>
<p
  >baskt will not assist in the copying of any state or federal document,
  including but not limited to, driver's licenses, passports and social security
  cards.</p
>
<p
  >As a convenience to baskt customers, baskt may make third-party software
  available through the baskt Digital Photo Center either through physical
  distribution or available by download. To use such software, you will agree to
  the terms and conditions imposed by the third party provider. Unless otherwise
  stated in any specific agreement, the agreement to use such software will be
  solely between you and the third party provider.</p
>
<p
  >baskt uses commercially reasonable efforts to maintain the availability of
  the baskt Digital Photo Center 24 hours a day, 7 days a week, and provide
  photo processing within the time frame communicated to you. However, baskt
  will not be liable to you for any unexpected outage or disruption of service.
  One hour photo services are subject to limitations on store equipment and
  processing capacity, and actual pick-up times may vary.</p
>
<p
  >Submitting any Photos to baskt for processing, printing, storage,
  transmission or other handling constitutes an agreement by you that any damage
  to your Photos or computer system, or any loss of data, by baskt, its
  subsidiaries, employees, or agents, even if caused by negligence or other
  fault, will only entitle you to replacement with a like amount of storage and
  processing. Except for replacement, the handling of any Photos is not under
  warranty or liability, and recovery for any incidental or consequential
  damages is excluded.</p
>
<p
  >You understand and agree that any material, including but not limited to
  Photos and software, downloaded or otherwise obtained through the use of the
  baskt Digital Photo Center is done at your own discretion and risk and that
  you will be solely responsible for any damages to your computer system or loss
  of data that may result in the download or upload of such material. Your use
  of the baskt Digital Photo Center may expose you to Photos you may feel
  objectionable. You take sole responsibility for such exposure.</p
>
<h5><b>14. COLORS</b></h5>
<p
  >We have made significant efforts to accurately display the colors of products
  that appear on the baskt Sites. However, as the actual colors you see will
  depend on your monitor, we cannot guarantee that your monitor's display of any
  color will accurately reflect actual product color or finish.</p
>
<h5><b>15. PRIVACY</b></h5>
<p
  >You acknowledge that any personal information that you provide through the
  baskt Sites will be used by baskt in accordance with baskt’s Privacy Policy at
  <strong
    ><a routerLink="/public/privacy-rights"
      >http://baskt.com/baskt-privacy-policy</a
    ></strong
  >, the terms of which are incorporated here by this reference. If you purchase
  an item on baskt.com sold by a Marketplace Seller, baskt shares certain
  information with that Marketplace Seller to permit the Marketplace Seller to
  fulfill and ship your order, process returns, and provide customer service.
  baskt requires Marketplace Sellers to keep your information secure and use it
  only in accordance with the Marketplace Seller's Marketplace Privacy Policy
  which can be found on that Marketplace Seller's Seller Information page.
</p>
<h5><b>16. INDEMNIFICATION</b></h5>
<p
  >You agree to defend, indemnify, and hold harmless baskt and its affiliates
  from and against any and all claims, damages, costs, and expenses, including
  attorneys' fees, arising from or related to your use of the baskt Sites or any
  breach by you of this Agreement.</p
>
<h5><b>17. TERMINATION</b></h5>
<p
  >This Agreement is effective unless and until terminated by either you or
  baskt. You may terminate this Agreement at any time, provided that you
  discontinue any further use of the baskt Sites. baskt also may terminate this
  Agreement at any time and may do so immediately without notice, and
  accordingly deny you access to the baskt Sites, if in baskt’s sole discretion
  you fail to comply with any term or provision of this Agreement. Upon any
  termination of this Agreement by either you or baskt, you must promptly
  destroy all materials downloaded or otherwise obtained from the baskt Sites,
  as well as all copies of such materials, whether made under this Agreement or
  otherwise. The following sections shall survive any termination of this
  Agreement: “Use of the baskt Sites,” “Content Submission,” “Order Acceptance
  and Billing,” “Pricing Information,” “Information Provided on the baskt
  Sites,” “Export Policy,” “Intellectual Property,” “Indemnification,”
  “Termination,” “Disclaimer,” “Limitation of Liability,” “Privacy,” and
  “General.”
</p>
