.custom-top{
  margin-left: 7%;
  display: flex;
  justify-content: space-between;
}
h1{
  color: #ccc;
}
h4{
  margin-top: 10%;
}
h5{
  color: #01a4b5;
}
.text-right{
  margin-top: 10%;
  margin-right: 10%;
  color: #a3a3a3;
}
h3{
  margin-right: 10%;
  color: #a0d95f;
}
input {
  width: 20%;
  margin-right: 10%;
}
