<div class="container customer-page-top-spacing other-page-space">
  <div class="text-pages-shadow"></div>
  <h3 class="mt-4 heading poppin-text-head"><b>Full Refund</b></h3>
  <p>If you're not completely happy, return your item within
    72 hours for a full refund.</p>
  <div class="container shortimg py-5">
    <div class="row mb-3 mb-sm-auto">
      <div class="col-6 col-md text-center left-image">
        <img src="/assets/refund_1.png" alt="refund-1">
      </div>
      <div class="col-6 col-md d-flex justify-content-center flex-column">
        <div class="row">
          <div class="col col-md-8">
            <h5 class="poppin-text-head-small"><b>Step 1</b></h5>
            <p>Initiate your Refund by logging in and clicking the orders tab.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3 mb-sm-auto">
      <div class="col-6 col-md d-flex justify-content-center flex-column">
        <div class="row">
          <div class="col col-md-8 ml-auto">
            <h5 class="poppin-text-head-small"><b>Step 2</b></h5>
            <p>Locate the Item by clicking the order that contains the item.</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-md right-image">
        <img src="/assets/refund_2.png" alt="refund-2">
      </div>
    </div>
    <div class="mt-2">
      <h5 class="poppin-text-head-small"><b>Step 3</b></h5>
      <p>Click the Refund Button and we will return your funds within 1-2 business days. <br> Safely discard the item*.</p>
    </div>

  </div>
  <p class="poppin-text-para">*From time to time we do an audit of our refund process, if selected we will provide instructions to return the product to us.</p>
</div>
